<div class="product">
        <h2>Piano</h2>
        <img src="{% static 'images/jpg/piano.jpg '%}" alt="piano">
        <p>Piano for sale in good quality</p>
        <p>Price: 10 000$</p>
    </div>

    <div class="product">
        <h2>Guitar</h2>
        <img src="{% static 'images/jpg/guitar.jpg '%}" alt="guitar">
        <p>Guitar for sale in good quality</p>
        <p>Price: 300$</p>
    </div>

    <div class="product">
        <h2>Violin</h2>
        <img src="{% static 'images/jpg/violin.jpg '%}" alt="violin">
        <p>Violin for sale in good quality</p>
        <p>Price: 400$</p>
    </div>