{% extends 'base.html' %}

{% block title %}
    About
{% endblock title %}

{% block content %}
<div class="product">
    <h2> WELCOME TO THE ANALOG SPECIALISTS! </h2>
    <h3> As a company made up of musicians and music lovers, </h3>
    <h3> we are driven by our shared belief </h3>
    <h3> that music is the greatest unifying force in the world.</h3>
    <h3> To give people the tools they need to create and connect.</h3>
    <h3> To be seen and heard. </h3>
    <h3> Music can stir the soul and change the frequency </h3>
    <h3> of the planet. So let's make some noise. </h3>
    <h3> Because the world needs to hear what you have</h3>
    <h3> to play. </h3><hr>
    <h1> WHY US? </h1>
    <h2> - Free shipping - </h2>
    <h2> - 2-year free Warranty on instruments - </h2>
    <h2> - Comfort - </h2>
    <h2> - Confidence - </h2><hr>
    <h1> We are here for you! </h1>
    <p> Sincerely, Nazokat Kalnazarova </p>
</div>
{% endblock %}