{% extends 'base.html' %}
{% load static %}
{% block title %}
    Contact
{% endblock title %}

{% block content %}
<div class="me">
    <img src="{% static 'images/jpg/me.jpg' %}" alt="me" width="600px" style="position: relative; left: 170px;" /> 
</div>
<div class="product">
    <p> Thank you for your interest in <b>The Analog Specialists</b>!
        We appreciate your time and look forward to connecting with you soon!
    </p>
    <p> Warm regards, <b>Nazokat Kalnazarova </b> </p><hr>
    <p> My email: <b> nazokatkalnazarova0283@gmail.com </b> </p>
    <p> Link to Telegram:<a href="https://t.me/nazo_k_r"><b>t.me</b></a></p>
</div>
{% endblock %}